# See https://aka.ms/yaml
# This pipeline to be run on PRs

trigger: none
pr:
  - master
  - v*.*.x

resources:
  containers:
    - container: centos7
      image: ucfconsort.azurecr.io/ucx/centos7:1
      endpoint: ucfconsort_registry
    - container: fedora
      image: ucfconsort.azurecr.io/ucx/fedora:1
      endpoint: ucfconsort_registry

stages:
  - stage: Tests
    jobs:
    - template: io-demo.yml
